@import './Agent_button.scss';
@import './Agent_table.scss';
@import './Agent_input.scss';
@import './Agent_icon.scss';

ul {
    list-style-type: none;
}

.container {
    width: 100%;

    > .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .search {
        &-container {
            width: 100%;
            padding: 30px;
            background-color: #f9f9f9;
            border-radius: 10px;
        }

        &-count {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            margin-top: 76px;
            margin-bottom: 24px;
        }
    }

    .flex-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 8px;

        &.jcsb {
            justify-content: space-between;
        }

        &.jcfs {
            justify-content: flex-start;
        }
    }

    .cGreen {
        color: var(--main-color);
        font-weight: 500;
    }

    th, td {
        font-size: 14px;
    }

    .paging {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            width: 34px;
            height: 34px;
            border-radius: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.on {
                background-color: var(--primary-color);
                color: var(--white-color);
            }

            &.dot {
                background-size: cover;
                background-image: url('@/assets_agent/images/icon/dot.svg');
            }
        }
    }
}
