.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    &.bottom {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

	&.fixed {
		width: 100%;
		padding: 16px 0 30px;
		position: fixed;
		bottom: 60px;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--white-color);
		max-width: 1240px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

button {
    padding: 8px 12px;
    color: var(--black-color);
    border-radius: 8px;
    font-size: 14px;
    background-color: var(--white-color);
    min-width: 52px;
    height: auto;
    min-height: 40px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
        margin-right: 0;
    }

    &.btn {
        &-s01 {
            color: var(--white-color);
            background-color: var(--main-color);
            border: 1px solid var(--main-color);
        }

        &-s02 {
            color: var(--main-color);
            background-color: var(--white-color);
            border: 1px solid var(--main-color);
        }

        &-s03 {
            color: var(--black-color);
            background-color: var(--dark-gray-color);
            border: 1px solid var(--dark-gray-color);
        }

        &-s04 {
            color: #bdbdbd;
            background-color: var(--dark-gray-color);
            border: 1px solid var(--dark-gray-color);
        }

        &-s05 {
            color: #757575;
            background-color: var(--white-color);
            border: 1px solid var(--dark-gray-color);
        }

        &-primary {
            color: var(--white-color);
            background-color: var(--primary-color);
            border: 1px solid var(--primary-color);
        }

        &-send {
            width: 212px;
            color: var(--white-color);
            background-color: var(--main-color);
            border: 1px solid var(--main-color);
        }

        &-address {
            width: 103px;
            color: var(--white-color);
            background-color: var(--primary-color);
            border: 1px solid var(--primary-color);
        }

        &-search {
            width: 290px;

            &-02 {
                width: 290px;
                height: 52px;
                font-size: 18px;
            }
        }

        &-middle {
            padding: 14px;
        }

        &-snone {
            font-size: 16px;
            border: none;
            color: var(--disabled-color);
            margin-right: -20px;
        }
    }
}