.ico {
    display: inline-block;

    &-plus {
        width: 16px;
        height: 16px;
        background-image: url('@/assets/images/icon/add-black.svg');
        background-size: cover;
    }

    &-nchecked {
        width: 24px;
        height: 24px;
        background-image: url('@/assets/images/icon/check-l-disabled.svg');
        background-size: cover;
    }

    &-checked {
        width: 24px;
        height: 24px;
        background-image: url('@/assets/images/icon/check-l.svg');
        background-size: cover;
    }

    &-excel {
        width: 24px;
        height: 24px;
        mask-image: url('@/assets/images/icon/download.svg');
        -webkit-mask-image: url('@/assets/images/icon/download.svg');
        background-size: cover;
        background-color: var(--main-color);
    }

    &-close {
        width: 30px;
        height: 30px;
        background-image: url('@/assets/images/common/close.svg');
        background-size: cover;
        cursor: pointer;
    }
}