@import './Agent_button.scss';
@import './Agent_table.scss';
@import './Agent_input.scss';
@import './Agent_icon.scss';

.container {
    width: 100%;

    > .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    .flex-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 8px;

        &.jcsb {
            justify-content: space-between;
        }

        &.jcfs {
            justify-content: flex-start;
        }
    }
}

.scroll-container {
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #bdbdbd;
        border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}